.container {
    position:sticky; 
    top: 0px;
    z-index: 10;
}

.product {
    color: #0b499b;   
    margin-top: 15px;
    margin-bottom: 25px;
    text-decoration: none;
    border-bottom: 4px solid #0b499b;
    font-size: 30px;
}

.cart {
    text-decoration: none;
    position: relative;
    margin-right: 250px;
}

.cart p {
    position: absolute;
    top: -7px;
    right: -3px;
    background-color: #0b499b;
    text-align: center;
    width: 22px;
    color: white;
    font-size: 15px;
}

@media only screen and (max-width : 800px) {
    .product {
        margin-left: 50px;
    }
    .cart {
        margin-right: 50px;
    }
}
@media only screen and (min-width : 1200px) {
    .product {
        margin-left: 250px;
    }
    .cart {
        margin-right: 250px;
    }
}
@media only screen and (max-width : 1200px) and (min-width : 800px) {
    .product {
        margin-left: 150px;
    }
    .cart {
        margin-right: 150px;
    }
}