.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0; */
    margin-bottom: 40px;
    position:sticky;
    top: 0px;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 24px rgba(149, 157, 165, 0.4);    
}

.product {
    color: #0b499b;   
    margin: 15px 0 25px 250px;
    text-decoration: none;
    border-bottom: 4px solid #0b499b;
    font-size: 30px;
}

.cart {
    text-decoration: none;
    position: relative;
    margin-right: 250px;
}

.cart p {
    position: absolute;
    top: -23px;
    right: -3px;
    background-color: #0b499b;
    border-radius: 50%;
    text-align: center;
    width: 22px;
    height: 22px;
    color: white;
    font-size: 18px;
}

.highCount {
    font-size: small;
    padding: 4.3px 2.1px 0 1.3px;
}